* {
    margin: 0;



}

img {
    width 100%;
}

html {
    scroll-behavior: smooth;

}

/*CLASSES*/

.hidden {
    transform: translateX(-100%);
    opacity: 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}



/*--------------------------------------CSS-ANIMATIONER---------------------------------------*/

.mover {
    animation-name: mover_kf;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes mover_kf {
    0% {
        transform: translateY(0px);
    }

    60% {
        transform: translateY(10px);
    }

    80% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }

}

/*
.pulse {
    animation-name: pulse_kf;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes pulse_kf {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(1.09)
    }



    100% {
        transform: scale(1)
    }
}*/



/*OVERSKRIFTER*/

h1 {
    font-size: 30px;
    font-family: 'Patua One', cursive;
    color: black;
    margin-top: 10px;
    text-decoration: none;

}

h2 {
    font-size: 30px;
    font-family: 'Patua One', cursive;
    color: #4444d9;
    text-align: center;
}


h5 {
    font-size: 15px;
    font-family: 'Patua One', cursive;
    color: #E7E7E5;
    text-decoration: none;
    padding-top: 30px;

}

p {
    font-family: 'Helvetica Neue',
        sans-serif;
    font-size: 15px;
    line-height: 1.8rem;

}


/*VIDEOBG, SPLASHTEKST OG PIL */

@media (max-width: 768px) {
    #videoBG {
        display: none;
    }

    #splash {
        background: url(black.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100vw;
        background-position: 55% 15%;
        /*        max-width: none;*/
    }

    #arrow {
        position: absolute;
        width: 7vw;
        height: 7vw;
        background-image: url(arrow_down.svg);
        background-size: cover;
        left: 42vw;
        bottom: 6vw;
    }

    #splash_text {
        position: absolute;
        bottom: 16vw;
        left: 27vw;
        z-index: 1;

    }

    #splash_text h1 {
        color: white;
        margin: 0;
        font-size: 20px;
    }
}

/*KAMPAGNE SEKTION*/

#kampagne {
    background-color: #EDB16E;

}

#kampagne .sectionwrapper {
    max-width: 1200px;
    margin: auto 0;
    display: flex;
    flex-wrap: wrap-reverse;

}



#kampagne img {
    padding-left: 150px;
}

#kampagne p {
    padding: 30px;

}

#kampagne h1 {
    padding-left: 30px;
}

#kampagne h5 {
    padding-left: 30px;
    color: #C8E0D9;
}




/*MÅLGRUPPE*/

#gruppe {
    background-color: #C8E0D9;

}

#gruppe .sectionwrapper {
    /*    max-width: 1200px;*/
    margin: auto 0;

}


#gruppe h1 {
    text-align: center;
}

#gruppe h5 {
    text-align: center;
    color: #253D80;
    padding-top: 30px;
}

#gruppe p {
    padding: 30px;
}


/*KAMPAGNEVIDEO*/

#film .sectionwrapper {
    max-width: 1200px;
    margin: auto 0;
}

#film {
    background-color: white;

}

#film img {
    padding-left: 120px;
}

#film h1 {
    padding-left: 30px;
}

#film h5 {
    padding-left: 30px;
    color: #EDB16E;
}

#film p {
    padding: 30px;
}


/*KNAP*/

a.button {
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding: 1.35em 2.2em;
    border: 0.2em solid #253D80;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Patua One', cursive;
    font-weight: 300;
    font-size: 15px;
    color: white;
    text-align: center;
    transition: all 0.2s;
    background-color: #253D80;
    left: 27vw;
    margin-bottom: 30px;

}

/*
a.button:hover {
    color: white;
    background-color: #253D80;
    border: 0.2em solid #4848b9;
}
*/

/*HEADER TEKST - "TUBORG"*/
#header_text h3 {
    padding-top: 10px;
    padding-left: 20px;
    font-size: 25px;

}

/*BURGERMENU mobilefirst*/


nav {
    background-color: #253D80;
}

#navbar a {
    font-family: 'Patua One', cursive;
    text-decoration: none;
    color: #E7E7E5;
    border: none;

}

#navbar ul li {
    display: block;

}

#menu {
    height: 170px;
    margin: 0;
    line-height: 1.6;

}

#menu ul {
    height: 100px;
    text-decoration: none;

}

#menuknap {
    font-size: 25px;
    float: right;
    margin-top: -40px;
    margin-right: 10px;
    display: inline-block;
    color: #E7E7E5;


}

#menu.hidden {
    height: 30px;
}


#menu a:hover {
    color: #bcbcbc
}


#menu {

    list-style-type: none;
    transition: transform 0.3s;
    transform-origin: top left;
    font-family: 'Helvetica neue', sans-serif;
    font-weight: lighter;
    height: 88px;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #253D80;
    padding-top: 15px;
}

/*FOOTER*/
footer {
    background-color: #253D80;
}

h4 {
    font-family: 'Helvetica neue', sans-serif;
    font-size: 12px;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*MQ TIL HEADER -  DESKTOP VERSION*/
@media (min-width: 768px) {

    #menuknap {
        display: none;
        float: right;

    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
        text-align: end;
    }

    #menu li {
        display: inline-block;

    }

    #menu {

        list-style-type: none;
        transition: transform 0.3s;
        transform-origin: top left;
        font-family: 'Helvetica Neue', sans-serif;
        font-weight: lighter;
        height: 70px;
        padding: 0;
        margin: 0;
        text-align: center;
        background-color: #253D80;
        /*        padding-bottom: 30px;*/
    }

}

@media (min-width: 768px) {
    #navbar ul li {
        display: inline-block;
        padding-right: 10px;
        padding-left: 10px;
        text-align: center;

    }

    #navbar ul li:first-child {
        border-left: none;
    }

    #navbar ul li a {
        text-decoration: none;
        color: #E7E7E5;
    }


}

/*VIDEO BG OG SPLASH TEKST- DESKTOP*/
@media (min-width: 768px) {
    #splash {
        position: relative;
        height: 100vh;

    }

    #videoBG {
        z-index: -1;
        object-fit: cover;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;

    }

    #splash_text {
        position: absolute;
        bottom: 13vw;
        left: 42vw;
        z-index: 1;

    }

    #splash_text h1 {
        color: white;
        margin: 0;
        font-size: 20px;
    }


    #arrow {
        position: absolute;
        width: 4.5vw;
        height: 4.5vw;
        background-image: url(arrow_down.svg);
        background-size: cover;
        left: 46vw;
        bottom: 7vw;
    }
}


/*KAMPGNE SIDE - DESKTOP*/
@media (min-width: 768px) {
    #kampagne .sectionwrapper {
        display: flex;
        flex-wrap: nowrap;

    }

    #kampagne {
        width: 100vw;
        height: 100vh;
    }

    #kampagne img {
        width: 280px;
        padding-top: 100px;
    }

    #kampagne p {
        padding-top: 15px;
    }

    #kampagne h5 {
        padding-top: 160px;
    }
}



/*MÅLGRUPPE SIDE - DESKTOP*/
@media (min-width: 768px) {

    #gruppe {
        width: 100vw;
        height: 100vh;
    }


}

/*KAMPAGNEVIDEO SIDE - DESKTOP*/
@media (min-width: 768px) {
    #film .sectionwrapper {
        display: flex;
    }

    #film img {
        padding-top: 150px;

    }

    #film p {
        padding-right: 90px;
    }

}




/*KAMPGNEVIDEO SIDE - DESKTOP*/
@media (min-width: 768px) {
    a.button {
        position: relative;
        left: 8vw;
    }
}
