* {
    margin: 0;



}

img {
    width 100%;
}

html {
    scroll-behavior: smooth;

}

/*CLASSES*/

.hidden {
    transform: translateX(-100%);
    opacity: 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*OVERSKRIFTER*/

h1 {
    font-size: 30px;
    font-family: 'Patua One', cursive;
    color: black;
    margin-top: 10px;
    text-decoration: none;
    text-align: center;
}

h2 {
    font-size: 30px;
    font-family: 'Patua One', cursive;
    color: #4444d9;
    text-align: center;
}


h5 {
    font-size: 15px;
    font-family: 'Patua One', cursive;
    color: #E7E7E5;
    margin-top: 10px;
    text-decoration: none;
    text-align: center;
}

p {
    font-family: 'Helvetica Neue',
        sans-serif;
    font-size: 12px;
    line-height: 1.8rem;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 40px;
    margin: 10px;
}

/*KAMPAGNE SEKTION*/

#kampagne .sectionwrapper {
    display: flex;
    background-color: #EDB16E;
    flex-wrap: wrap-reverse;


}

#kampagne h5 {
    color: #C8E0D9;
}

#kampagne img {
    position: relative;
    bottom: 9vw;
    left: 25vw;
}


/*MÅLGRUPPE*/
#gruppe .sectionwrapper {
    display: flex;
    background-color: #C8E0D9;
    flex-wrap: wrap-reverse;


}

#gruppe h5 {
    color: #253D80;
}


#gruppe img {
    position: relative;
    bottom: 9vw;
    left: 25vw;
}

/*KAMPAGNEVIDEO*/

#film img {
    position: relative;
    bottom: 9vw;
    left: 25vw;
}


/*KNAP*/

a.button {
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding: 1.35em 2.2em;
    border: 0.2em solid #253D80;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Patua One', cursive;
    font-weight: 300;
    font-size: 15px;
    color: white;
    text-align: center;
    transition: all 0.2s;
    background-color: #253D80;
    left: 27vw;

}

/*
a.button:hover {
    color: white;
    background-color: #253D80;
    border: 0.2em solid #4848b9;
}
*/

/*HEADER TEKST - "TUBORG"*/
#header_text h3 {
    padding-top: 10px;
    padding-left: 20px;
    font-size: 25px;

}

/*BURGERMENU mobilefirst*/


nav {
    background-color: #253D80;
}

#navbar a {
    font-family: 'Patua One', cursive;
    text-decoration: none;
    color: #E7E7E5;
    border: none;

}

#navbar ul li {
    display: block;

}

#menu {
    height: 170px;
    margin: 0;
    line-height: 1.6;

}

#menu ul {
    height: 100px;
    text-decoration: none;

}

#menuknap {
    float: right;
    margin-top: -30px;
    margin-right: 10px;
    display: inline-block;
    color: #E7E7E5;


}

#menu.hidden {
    height: 30px;
}


#menu a:hover {
    color: #bcbcbc
}


#menu {

    list-style-type: none;
    transition: transform 0.3s;
    transform-origin: top left;
    font-family: 'Helvetica neue', sans-serif;
    font-weight: lighter;
    height: 88px;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #253D80;
    padding-top: 15px;
}

/*FOOTER*/
footer {
    background-color: #253D80;
}

h4 {
    font-family: 'Helvetica neue', sans-serif;
    font-size: 12px;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*MQ TIL HEADER -  DESKTOP VERSION*/
@media (min-width: 768px) {

    #menuknap {
        display: none;
        float: right;

    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;

    }

    #menu {

        list-style-type: none;
        transition: transform 0.3s;
        transform-origin: top left;
        font-family: 'Open sans', sans-serif;
        font-weight: lighter;
        height: 70px;
        padding: 0;
        margin: 0;
        text-align: center;
        background-color: #253D80;
        /*        padding-bottom: 30px;*/
    }

}

@media (min-width: 768px) {
    #navbar ul li {
        display: inline-block;
        padding-right: 10px;
        padding-left: 10px;
        text-align: center;
        border-left: 0.1px solid #E7E7E5;
        ;
    }

    #navbar ul li:first-child {
        border-left: none;
    }

    #navbar ul li a {
        text-decoration: none;
        color: #E7E7E5;
    }


}

/*VIDEO BG - DESKTOP*/
@media (min-width: 768px) {
    #splash {
        position: relative;
    }

    #videoBG {
        z-index: -1;
        object-fit: cover;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;

    }

}

#arrow {
    position: absolute;
    width: 10vw;
    height: 10vw;
    background-image: url(arrow_down.svg);
    background-size: cover;
    left: 45vw;
    bottom: 3vw;


}



/*FORSIDE - MOBIL*/

@media (max-width: 767px) {
    #videoBG {
        display: none;
    }

    #splash {
        background: url(splash.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100vw;
        background-position: 55% 15%;
        max-width: none;
    }

    #arrow {
        position: absolute;
        width: 25vw;
        height: 25vw;
        background-image: url(arrow_down.svg);
        background-size: cover;
        left: 40vw;
        bottom: 0vw;
    }

}


/*KAMPGNE SIDE - DESKTOP*/
@media (min-width: 768px) {
    #kampagne .sectionwrapper {
        display: flex;
        flex-wrap: nowrap;

    }

    #kampagne h1 {
        position: relative;
        left: -20.8vw;

    }

    #kampagne h5 {
        position: relative;
        left: -23vw;
        padding-top: 30px;
    }

    #kampagne p {
        padding-left: 150px;
        padding-right: 150px;
        padding-top: 30px;
        margin: 10px;
    }


    #kampagne img {
        width: 300px;
        position: relative;
        top: 1vw;
        left: 3vw;
    }



}


/*MÅLGRUPPE SIDE - DESKTOP*/
@media (min-width: 768px) {
    #gruppe .sectionwrapper {
        display: flex;
        flex-wrap: nowrap;

    }

    #gruppe p {
        padding-left: 150px;
        padding-right: 150px;
        padding-top: 30px;
        margin: 10px;
    }


    #gruppe img {
        position: relative;
        top: 5vw;
        left: 3vw;
    }

}


/*KAMPGNEVIDEO SIDE - DESKTOP*/
@media (min-width: 768px) {
    #film img {
        position: relative;
        bottom: 1vw;
        left: 7vw;
    }

    a.button {
        position: relative;
        left: 8vw;
    }
}
